body{
    margin: 0;
    background-color: black;
    display: grid;
    /* grid-template-rows: 100px 200px 100px; */
    /* grid-template-columns: 40% 30% 30%; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.box{
    /* width: 100px; */
    /* height: 100px; */
    background-color: blue;
    color: white;
    border: 3px solid red;
    font: 100 2rem cursive;
     
}