p{
    font-size: 4 0px;
}
h1{
    font-size: 15px;
}
.font-30{
    font-size: 30px;
}
p{
    font-weight: 1000;
}
*{
font-family: 'Rajdhani', sans-serif;
font-size: 40px;
font-size: 40px !important;

}